[report]
exclude_lines =
    except: self.parent.parent.handleTraceback(.*)
    except: self.parent.handleTraceback(.*)
    except: self.handleTraceback(.*)
    except: client.handleTraceback(.*)
    except: self.client.handleTraceback(.*)
